<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/summonerInfo">Getting Summoner Info</a>
<a href="http://52.88.56.252:3001/matchHistory">Getting Match History</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>