<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/summonerInfo">Getting Summoner Info</a>
<a href="http://52.88.56.252:3001/matchHistory">Getting Match History</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
<h1>Now What?</h1>
<p> Basically what I have shown you today is how to make a request to Riot's API for data and then
	how to use that data in future reqeusts. It doesn't seem like much but really it's the basic 
	foundation for everything the Riot API allows you to do. For example you can now take the 
	matchID information you pulled from the match history request and make another request to
	<code>/api/lol/na/v2.2/match/{matchId}</code> to get the specific match details. If you keep
	using these building blocks eventually you can make an awesome website like <a href="http://www.lolking.com">lolking.com</a>
	which is etirely based on what I just showed you.
</p>
</div>