<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/summonerInfo">Getting Summoner Info</a>
<a href="http://52.88.56.252:3001/matchHistory">Getting Match History</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
<h1>Now What></h1>
<p> Basically what I have shown you today is how to make a request to Riot's API for data and then
	how to use that data in future reqeusts.
</p>
</div>