<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/summonerInfo">Getting Summoner Info</a>
<a href="http://52.88.56.252:3001/matchHistory">Getting Match History</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
	<h1>A Short Guide to the Riot Games API</hi>
	<br>
	<h3>About This Guide</h3>
	<p>
	This guide is meant to be a basic introduction to API provide by Riot Games for League of Legends. 
	As such this guide will not cover everything nor will it cover the basic set up of your programming environment.
	This guide will primarily show you how to:
	<ul>
		<li>Retrieve your api key from Riot
		<li>Make calls to retrieve a player's (summoner's) information based on their name
		<li>Make calls to retrieve a summoner's match history based on the summoner information from the previous page
		<li>Give you an idea of what to do with all of this information
	</ul>
	There is a lot of data we could retrieve from the Riot servers which can be manipulated in many different ways.
	Focusing on these basics will provide you with a good platform and general knowledge to create more complex
	websites using this API. To get started click on one of the links above or the "next" button below.
	</p>
	<button class="next" onclick="location.href='http://52.88.56.252:3001/setup'">Next</button>
</div>