<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/match">Match History</a>
<a href="http://52.88.56.252:3001/champions">Champions</a>
<a href="http://52.88.56.252:3001/items">Items</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
<h1>A Short Guide to the Riot Games API</hi>
<br>
<h3>Introduction</h3>
<p>
</div>