<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/match">Match History</a>
<a href="http://52.88.56.252:3001/champions">Champions</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
	<h1>Match History</hi>
	<br>
	<h3>A Quick Example</h3>
	<p>
	Match History is something everyone cares about in League of Legends and something that every good
	LoL website has. This part of the guide aims to show you how to build your own match history and what
	you can do with it. Primarily we access Riot's API through get requests sent to their servers. What
	this request looks like changes based on what information we are trying to get but usually takes on
	a specific form each time.
	<code>https://{region}.api.pvp.net/api/lol/{region}/{request specific pathing}/{search term}?api_key={your api key} </code>
	</p>
	<button class="next" onclick="location.href='http://52.88.56.252:3001/champions'">Next</button>
</div>