<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/match">Match History</a>
<a href="http://52.88.56.252:3001/champions">Champions</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
	<h1>Match History</hi>
	<br>
	<h3>A Quick Example</h3>
	<p>
	Match History is something everyone cares about in League of Legends and something that every good
	LoL website has. This part of the guide aims to show you how to build your own match history and what
	you can do with it. Primarily we access Riot's API through get requests sent to their servers. What
	this request looks like changes based on what information we are trying to get but usually takes on
	a specific form each time:
	<br>
	<code>https://{region}.api.pvp.net/api/lol/{region}/{request specific pathing}/{search term}?api_key={your api key} </code>
	<br>
	The first bracketed component is pretty straight forward. League of Legends is a multi-region game so
    you must specify which one you'd like. Next up is the {request specific pathing} which denotes what
	type of data we are looking form. This is the part that can look the most diverse depending on the 
	data we seek. For the purpose of building a match history we will be looking at two specifically:
	<ul>
		<li><code>/api/lol/na/v1.4/summoner/by-name/{summonerNames}</code> and
		<li><code>/api/lol/na/v2.2/matchlist/by-summoner/{summonerId}</code>
	</ul>
	The first listed will allow you to find a summoner's id by search with their name. The second allows
	you to search for a list of match history data by summoner id. Seems pretty straight forward right?
	It does get a bit complicated however when we try to implement them. Will get to that in a minute though.
	First let's go over what we put in the request and what we can expect back.
	<br>
	<br>
	In the case of both requests the accepted format for the sent data is a simple string. When you go to 
	enter a summoner's name or their id you just use a string or an int respectively. What each request sends
	back is a JSON object chalk full of information. So let's look at an example of how to retrience on of
	these objects from riot. Specifically let's make a request for a specific summoner:
	<br>
	So to start I'm going to use my own summoner name "Eboncross" to demonstrate how we'd retrieve the summoner
	data. Now the way that I ended up getting user input was by use of a form which submits post data back to 
	the page with my inputed summoner name. I'm going to skip all of that though as it's not really in the scope
	of this how-to. When my handler detects that a summoner's name has been entered it sends a request to the
	Riot servers that looks like this:
	<br>
	<br>
	<code>
	request('https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/'+ req.body.name +'?api_key={my api key}', function(err, response, body){
	 if(!err && response.statusCode < 400){...
	</code>
	<br>
	<br>
	This pretty much mirrors what we talked about above and is pretty straight forward. "req.body.name" is information from my form aka 
	the summoner name and "{my api key}" is my literal API key without the brackets. When we send this off to Riot
	we get an object back that looks like this:
	<br>
	<br>
	<code>
	{"eboncross": {
   "id": 19089071,
   "name": "Eboncross",
   "profileIconId": 592,
   "revisionDate": 1449036186000,
   "summonerLevel": 30
	}}
	</code>
	<br>
	<br>
	What are we looking at here? Well what we have is an object named "eboncross" which is the search term we used. 
	This object contains other references or foreign keys that we could then use in other queries such as my
	summoner id "19089071", the id for the profile icon I use, etc. Pretty easy to understand naming conventions
	have been used.	Now if I wanted to use any information from this object in another request (and we do) I 
	would have to something like this:
	<br>
	<br>
	<pre><code>
	  var summoner = JSON.parse(body);
	  for (i in summoner){
		  var summonerID = summoner[i]["id"];
	  }
	</code></pre>
	<br>
	<br>
	</p>
	<button class="next" onclick="location.href='http://52.88.56.252:3001/champions'">Next</button>
</div>



	<br>
	<code>
	request('https://na.api.pvp.net/api/lol/na/v2.2/matchlist/by-summoner/' + summonerID + '?api_key=05d6825e-a0c3-40e7-bdfa-475b4d8d7b56', function(err, response, body){
		  var matchList = JSON.parse(body);});
	</code>
	</br>
		  
