<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/match">Match History</a>
<a href="http://52.88.56.252:3001/champions">Champions</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
	<h1>Set Up</hi>
	<br>
	<h3>All About Getting Your Key</h3>
	<p>
	Everything we will do in this guide requires a very special object that you can only get from Riot themselves.
	This is the magical API key. It is pretty much exactly what it sounds like. Picture the Riot API being locked 
	behind a digital door. Well the API key is how we unlock that door. So where do we get this key? Well that's 
	easy. First go to this <a href="https://developer.riotgames.com/">link</a>. You should see a page that looks like
	<br>
	<img src="images/riotloginpage.jpg">
	<br>
	</p>
	<button class="next" onclick="location.href='http://52.88.56.252:3001/setup'">Next</button>
</div>