<div class="links">
<a href="http://52.88.56.252:3001">Home</a>
<a href="http://52.88.56.252:3001/setup">Set Up</a>
<a href="http://52.88.56.252:3001/match">Match History</a>
<a href="http://52.88.56.252:3001/champions">Champions</a>
<a href="http://52.88.56.252:3001/conclusion">What's Next?</a>
</div>

<div>
	<h1>Set Up</hi>
	<br>
	<h3>All About Getting Your Key</h3>
	<p>
	Everything we will do in this guide requires a very special object that you can only get from Riot themselves.
	This is the magical API key. It is pretty much exactly what it sounds like. Picture the Riot API being locked 
	behind a digital door. Well the API key is how we unlock that door. So where do we get this key? Well that's 
	easy. First go to this <a href="https://developer.riotgames.com/">link</a>. You should see a page that looks like this:
	<br>
	<img src="http://i.imgur.com/GissSVV.jpg?1"/>
	<br>
	Next up click on the sign in link at the top right corner of the page. It should bring up a link that looks like this:
	<br>
	<img src="http://i.imgur.com/duvG7LM.png?1"/>
	<br>
	At this point if you already have a League of Legends account you can just log in with the same information. If not go]
	ahead and click on the registrations page link. This will take you to a page where you can register a League of Legends
	account. Once you sign up or sign in you should be given an API key on a page that looks like this:
	<br>
	<img src="http://i.imgur.com/0CAoxBx.jpg?1"/>
	<br>
	Now that you have your API key in hand you are ready to tackle some real coding applictions. Click the next button to continue.
	</p>
	<button class="next" onclick="location.href='http://52.88.56.252:3001/match'">Next</button>
</div>