<h1>Post request recieved!</h1>
<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
<br>
<br>
<ul>
  {{#each bDataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>