<form method="post">
  Name<input type="text" name="name" id="name">
  Reps<input type="number" name="reps" id="reps">
  Weight<input type="number" name="weight" id="weight">
  Date<input type="date" name="date" id="date">
  <input type="checkbox" name="lbs" id="lbs" value=1>lbs? 
  <input type="submit" name="Add Entry" value="Save">
</form>

{{results}}