<form method="post">
  Name<input type="text" name="name" id="name">
  Reps<input type="number" name="reps" id="reps">
  Weight<input type="number" name="weight" id="weight">
  Date<input type="date" name="date" id="date">
  <input type="checkbox" name="lbs" id="lbs" value=1>lbs? 
  <input type="submit" name="update" value="Save">
</form>

{{results}}

<br>
<input type="button" onclick="location.href='http://52.88.56.252:3000/';" value="Done" />